<?xml version="1.0"?>
<robot name="bluerov2" xmlns:xacro="http://wiki.ros.org/xacro" >
  <!-- <xacro:arm name="update_rate" default="10"/> -->
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="bluerov2"/>
  <!-- Include the ROV macro file xacro:bluerov2_base -->
  <xacro:include filename="$(find bluerov2_description)/urdf/base.xacro"/>
  <!-- Hydrodynamic and hydrostatic parameters for the vehicle xacro:macro bluerov2_hydro_model -->
  <xacro:include filename="$(find bluerov2_description)/urdf/gazebo.xacro"/>
  <!-- Add hdt angler arm -->
  <xacro:include filename="$(find hdt_description)/robots/hdt_default.xacro" />
  <!-- <xacro:include filename="$(find oberon7_description)/robots/oberon7_default.xacro" /> -->

<!-- Create the bluerov2 -->
  <xacro:bluerov2_base namespace="$(arg namespace)">
    <!-- The underwater object plugin is given as an input block parameter to
     allow the addition of external models of manipulator units -->
    <gazebo>
      <plugin name="uuv_plugin" filename="libuuv_underwater_object_ros_plugin.so">
        <fluid_density>1028.0</fluid_density>
        <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
        <debug>$(arg debug)</debug>
        <!-- Adding the hydrodynamic and hydrostatic parameters for the vehicle -->
        <xacro:bluerov2_hydro_model namespace="$(arg namespace)"/>
        <xacro:hdt_hydro_model namespace="hdt"/>
        <!-- <xacro:oberon7_hydro_model namespace="oberon7"/> -->
        
        <!--
          In case other modules are added to the vehicle (such as a manipulator)
          that also have link running with the underwater object plugin, they
          should also be added in this block. For this, this new module should
          have a file similar to gazebo.xacro above with the description of the
          parameter necessary for the underwater object plugin to be initialized.
        -->
      </plugin>
    </gazebo>
  </xacro:bluerov2_base>

  <!-- <joint name="rov_arm_joint" type="fixed">
    <parent link="bluerov2/base_link"/>
    <child link="base_link" />
    <origin rpy="3.14 0 0" xyz="0. 0. -0.175"/>
  </joint> -->
  <xacro:hdt namespace="hdt" parent="$(arg namespace)/base_link">
    <origin rpy="3.14 0 0" xyz="0. 0. -0.175"/>
  </xacro:hdt>
  
  <!-- <xacro:oberon7 namespace="oberon7" parent="$(arg namespace)/base_link">
    <origin rpy="3.14 0 0" xyz="0. 0. -0.175"/>
  </xacro:oberon7> -->

  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <!-- <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint> -->

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/$(arg namespace)</robotNamespace>
      <robotParam>/$(arg namespace)/robot_description</robotParam>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
</gazebo>

  <!-- Joint state publisher plugin -->
  <xacro:default_joint_state_publisher namespace="$(arg namespace)" update_rate="50"/>

</robot>
